// Global Variables

// Paths. Use like this in css url("#{$image-path}/image.svg");
$image-path: "../static/images";
$font-path: "../static/fonts";

// Spacers
$spacer: 1rem;
$halfspacer: $spacer / 2;
$spacer2: $spacer * 2;
$spacer3: $spacer * 3;
$spacer4: $spacer * 4;
$spacer5: $spacer * 5;
$spacer6: $spacer * 6;
$spacer7: $spacer * 7;
$spacer8: $spacer * 8;
$spacer9: $spacer * 9;
$spacer10: $spacer * 10;
$spacer15: $spacer * 15;

// Site Width
$site-max-width: 1643px; // See settings/grid
$site-gutters: 64px;
$small-site-gutters: 32px;

// Breakpoints
$huge-screen: 1440px; // Large desktop screens
$big-screen: 1024px;
$medium-screen-min: 961px;
$medium-screen: 960px;
$small-screen-min: 795px;
$small-screen: 794px;
$tiny-screen: 360px;

// Margins & Padding
$margin: $spacer2;
$padding: $spacer2;
$small-padding: $spacer;

// Colours - from tachyons palette

// Errors
$highlight: #ffd700;
$error: #840003;

// Grey Scale
$black: #231f20;
$dark-grey: #696969;
$medium-grey: #919191;
$light-grey: #d4d4d4;
$lightest-grey: #f6f2f7;
$white: #fff;

// Site
$type-dark: #202928;
$type-medium: #306962;
$site-background: #ECF4F3;
$masthead-background: #D9E8E7;

// Base Site
$base-font-colour: $type-dark;
$body-background: $site-background;

// Brand
$brand-primary: $type-dark;
$brand-secondary: $type-medium;
$brand-tertiary: $masthead-background;

// Linkage
$link-colour: $brand-primary;
$link-hover-colour: $brand-tertiary;

// Buttons
$button: $brand-primary;
$button-text: $white;
$button-hover: $white;
$button-hover-text: $black;
$button-inactive: $light-grey;

// Label

// Tables
$table-borders: $light-grey;

// Borders
$border-colour: $light-grey;
$border-radius: 0px;
$border-size: 2px;
$input-border-colour: $light-grey;
$input-border-colour-focus: $brand-primary;

// Typography
$font-family-sans: "mr-eaves-sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-family-serif: "kumlien-pro", Times,Serif;
$base-font-size: 1.4rem;
$base-line-height: 1.25;
$heading-line-height: 1.25;
$small-font-size: 1.2rem;
$measure: 44rem;
$bold: 700;
$normal: 400;
$skinny: 100;
$type-margin: 0.875rem;

// Transitions
$trans-time: 200ms;

// Overlays
$overlay-top: 122px;
$m-overlay-top: 66px;
