@mixin button {
  appearance: none;
  background: $button;
  border-radius: 0;
  border: 0;
  border: 2px solid $button;
  box-sizing: border-box;
  color: $button-text;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: $bold;
  line-height: 1;
  padding: $spacer * 1.5 $spacer4;
  text-align: center;
  transition: all $trans-time ease-in-out;
  white-space: nowrap;

  &:hover {
    background: $button-text;
    color: $button;
  }
}

@mixin button-small {
  appearance: none;
  background: $button;
  border-radius: 0;
  border: 2px solid $button;
  box-sizing: border-box;
  color: $button-text;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: $bold;
  line-height: 1;
  padding: $halfspacer $spacer;
  text-align: center;
  transition: all $trans-time ease-in-out;
  white-space: nowrap;

  &:hover {
    background: $button-text;
    color: $button;
  }
}

@mixin button-small-alt {
  background: $white;
  color: $black;
  font-weight: $bold;
}

@mixin button-rev {
  border: 0;
  background: $button-text;
  color: $button;
  font-weight: $bold;

  &:hover {
    color: $link-hover-colour;
  }
}

@mixin ghost-button ($border-colour, $text-colour, $text-colour-hover) {
  appearance: none;
  display: inline-block;
  padding: $halfspacer $spacer3;
  border: 0;
  border: 1px solid $border-colour;
  background: transparent;
  color: $text-colour;
  font-size: $font-family-sans;
  font-weight: normal;
  text-align: center;
  text-decoration: none;

  &:hover, &:focus {
    border: 1px solid $border-colour;
    background: $border-colour;
    color: $text-colour-hover;
  }
}

@mixin button-link {
  border: 0;
  background: $button-text;
  color: $button;
  display: inline;
  padding: 0;
  width: auto;
  font-weight: $bold;

  &:hover {
    color: $link-hover-colour;
  }
}

@mixin button-transparent {
  border: 0;
  background: transparent;
  color: $button;
  display: inline;
  padding: 0;
  width: auto;
  font-weight: $bold;
  margin: 0;
  z-index: 2;

  svg {
    fill: $button;
  }

  &:hover {
    color: $link-hover-colour;
  }
}

@mixin icon-button($background, $icon) {
  background-image: url("#{$image-path}/#{$icon}.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $background;
  text-indent: -9999rem;
}

@mixin button-reset($background) {
  appearance: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $background;
  border-radius: 0;
  border: none;
  padding: 0;
}

@mixin overlay($height, $background) {
  background-color: $background;
  min-height: $height;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: $spacer3 $site-gutters;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
  z-index: 20;
  @media screen and (max-width: $small-screen) {
    transition-timing-function: ease-in-out;
  }
}

@mixin overlay-open {
  -webkit-overflow-scrolling: touch;
  top: $overlay-top;
  transform: translateY(0);
  @media screen and (max-width: $small-screen) {
    top: $m-overlay-top;
  }
}

@mixin shadow {
  background: rgba($brand-primary, 0.3);
  content: "";
  min-height: 100%;
  left: 0 !important;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  @media screen and (max-width: $small-screen) {
    top: 0;
  }
}

@mixin linebefore {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  width: 1px;
  top: 0;
  left: -16.5%;
  background: $light-grey;
}

// Group / AKA Clearfix
@mixin group {
  @content;
  &::before, &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

@mixin image {
  border-style: none;
  display: block;
  height: auto;
  width: 100%;
}

@mixin svg {
  border-style: none;
  display: block;
  height: auto;
}

@mixin focus {
  background-color: transparent;
  outline: 2px solid $highlight;
}

@mixin conceal {
  display: none !important;
  visibility: hidden;
}

@mixin disclose {
  display: block !important;
  visibility: visible;
}

@mixin hide {
  left: -9999em;
  position: absolute;
}

@mixin show {
  left: inherit;
  position: static;
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
