@mixin button {
  appearance: none;
  background: $button;
  border-radius: 0;
  border: 0;
  border: 1px solid rgba($button, 0.2);
  box-sizing: border-box;
  color: $button-text;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: $normal;
  line-height: 1;
  padding: $spacer $spacer3;
  text-align: center;
  transition: all $trans-time ease-in-out;
  white-space: nowrap;
  text-decoration: none;

  &:hover {
    color: $button-hover-text;
    border: 1px solid rgba($button, 0.6);
  }
}

@mixin overlay($height, $background) {
  background-color: $background;
  min-height: $height;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: $spacer3 $site-gutters;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
  z-index: 20;
  @media screen and (max-width: $small-screen) {
    transition-timing-function: ease-in-out;
  }
}

@mixin overlay-open {
  -webkit-overflow-scrolling: touch;
  top: $overlay-top;
  transform: translateY(0);
}

@mixin shadow {
  background: rgba($brand-primary, 0.3);
  content: "";
  min-height: 100%;
  left: 0 !important;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  @media screen and (max-width: $small-screen) {
    top: 0;
  }
}

@mixin image {
  border-style: none;
  display: block;
  height: auto;
  width: 100%;
}

@mixin svg {
  border-style: none;
  display: block;
  height: auto;
}

@mixin focus {
  background-color: transparent;
  outline: 2px solid $highlight;
}

@mixin conceal {
  display: none !important;
  visibility: hidden;
}

@mixin disclose {
  display: block !important;
  visibility: visible;
}

@mixin hide {
  left: -9999em;
  position: absolute;
}

@mixin show {
  left: inherit;
  position: static;
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
