.site-header {
  @include grid;
  background-color: $masthead-background;
  padding: $spacer2 $site-gutters;
  position: sticky;
  top: 0;
  z-index: 2;
  @media screen and (max-width: $small-screen) {
    padding: $spacer $small-site-gutters;
    grid-gap: $spacer;
  }
}

.logo {
  max-width: 100px;
  grid-column: 1 / span 2;
}

.main-nav {
  grid-column: 3 / span 5;

  ul {
    display: flex;
    padding-top: 5px;
    @media screen and (max-width: $small-screen) {
      padding-top: $spacer;
    }

    li {
      margin-right: $spacer2;
      @media screen and (max-width: $small-screen) {
        margin-right: $spacer;
      }

      a {
        color: $linea-black;
        font-weight: 200;
        transition: all $trans-time ease-in-out;
        &:hover {
          text-decoration: none;
          color: $type-light;
          border-bottom: 2px solid $type-light;
        }
      }
    }
  }
}
