// Site
html {
  background: $body-background;
  color: $base-font-colour;
}

div, section, header, footer, main, aside {
  box-sizing: border-box;
}

.wrapper {
  max-width: $site-max-width;
  margin: auto;
}

// Utilities
.hide {
  @include hide;
}

.group::before,
.main::before,
.group::after,
.main::after {
    content: " ";
    display: table;
}

.group::after,
.main::after {
    clear: both;
}

.dev-mode {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 5px;
  background: $black;
  color: $white;
  width: 100%;
  z-index: 100;
}
