// Fonts

html {
  font-size: 100%;
}

body {
  font-family: $font-family-sans;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: $base-font-size;
  font-weight: $bold;
  line-height: $heading-line-height;
}

p, span {
  margin: 0 0 $type-margin;
  line-height: $base-line-height;
}

a {
  outline: none;
  color: $link-colour;
  line-height: $base-line-height;
  text-decoration: none;
}

a:hover {
  color: $link-colour;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}

small {
  font-size: $small-font-size;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: $bold;
}

blockquote {
  margin: 0;
}

mark {
  background: transparent;
}

address {
  font-style: normal;
}

// The content - Everything spat out by WordPress
.rich-text {
  max-width: $measure;

  ul {
    margin: 0 0 $spacer $spacer;
    li {
      list-style-type: disc;
      ul {
        margin: 0 0 0 $spacer;
        li {
          list-style-type: circle;
        }
      }
    }
  }

  ol {
    margin: 0 0 $spacer $spacer;
    li {
      list-style-type: decimal;
      ol {
        margin: 0 0 0 $spacer;
        li {
          list-style-type: lower-latin;
        }
      }
    }
  }

  blockquote {
    max-width: $measure;
    margin: 0 0 $spacer 0;
    padding: 0 0 0 $spacer2;
    border-left: 3px solid $brand-primary;

    cite:before {
      content: "\2014\00a0";
    }

    cite {
      font-family: $font-family-serif;
    }
  }

  figure {
    margin: 0 0 $spacer 0;
  }

  hr {
    height: 3px;
    margin: $spacer2 0;
    border: 0;
    background: $medium-grey;
  }

  strong {
    font-weight: $bold;
  }

  u {
    text-decoration-skip: edges;
  }

  i {
    font-style: italic;
  }

  // Links

  a {
    outline: none;
    color: $link-colour;
    line-height: $base-line-height;
    text-decoration: none;
  }

  a:hover {
    color: $link-colour;
    text-decoration-skip-ink: auto;
    text-decoration: underline;
  }

  a:visited {
    color: $link-colour;
  }

  a:active {
    background: $highlight;
    color: $base-font-colour;
  }

  a:focus {}

}
