<header class="site-header">

  <div class="logo">
    <a href="#top"> <img src="{{ siteUrl }}static/logo.svg" alt="{{ siteName }}"> </a>
  </div>

  <nav class="main-nav" role="navigation">
    <ul>
      <li class="nav-projects"><a href="#projects">Work</a></li>
      <li class="nav-services"><a href="#services">Services</a></li>
      <li class="nav-clients"><a href="#clients">Clients</a></li>
      <li class="nav-contact"><a href="#contact">Contact</a></li>
    </ul>
  </nav>

</header>
