@mixin section {
  padding: $spacer10 $site-gutters 0;
  @media screen and (max-width: $small-screen) {
    padding: $spacer7 $small-site-gutters 0;
  }
}

.masthead {
  @include grid;
  padding: 0 $site-gutters $spacer10;
  height: 100vh;
  background: $masthead-background;
  align-content: center;
  @media screen and (max-width: $small-screen) {
    padding: 0 $small-site-gutters $spacer5;
    height: auto;
  }

  .intro {
    grid-column: 3 / span 7;
    color: $type-light;
    @media screen and (max-width: $big-screen) {
      grid-column: 2 / span 9;
    }

    .rich-text {
      margin-right: 50%;
      @media screen and (max-width: $small-screen) {
        margin: 0;
      }
    }
  }

  h1 {
    font-family: $font-family-serif;
    font-size: 5.5rem;
    color: $mastead-type;
    margin: $spacer3 0;
    @media screen and (max-width: $small-screen) {
      font-size: 3rem;
      margin: $spacer2 0;
    }
  }
}

.projects {
  @include section;

  .project {
    @include grid;
    padding: $spacer6 0;
    border-bottom: 1px solid $border-colour;

    &:first-of-type {
      padding: 0 0 $spacer6 0;
    }

    @media screen and (max-width: $small-screen) {
      position: relative;
      display: block;
      padding: $spacer3 0 $spacer2;

      &:first-of-type {
        padding: 0 0 $spacer2 0;
      }
    }

  }

  .client-details {
    grid-column: 4 / span 4;
    @media screen and (max-width: $big-screen) {
      grid-column: 4 / span 6;
    }
    display: flex;
    flex-flow: column-reverse nowrap;

    h3 {
      font-size: 2rem;
      @media screen and (max-width: $small-screen) {
        font-size: 1.5rem;
      }
    }

    .project-url {
      a, a:hover {
        color: $linea-medium-text;
      }
    }
  }

  .project-description {
    grid-column: 4 / span 4;
    @media screen and (max-width: $big-screen) {
      grid-column: 4 / span 6;
    }
  }

  .project-technology {
    grid-column: 1 / span 2;
    grid-row: 2;

    h4 {
      font-size: $base-font-size;
      margin: 0;
    }

    @media screen and (max-width: $big-screen) {
      li {
        display: inline-flex;
        margin-right: $halfspacer;
      }
    }
  }

  .project-image--m {
    grid-column: 1 / span 2;
    grid-row: 3;
    display: flex;
    align-items: flex-end;
    @media screen and (max-width: $small-screen) {
      margin: 0;
      width: 25%;
      position: absolute;
      bottom: $spacer3;
      left: $spacer;
      z-index: 1;
    }
  }

  .project-image--d {
    padding-top: $spacer4;
    grid-column: 4 / span 6;
  }

  img {
    @include image;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }

}

.services {
  @include section;

  .services-grid {
    @include grid;
  }

  .service {
    grid-column: span 3;
    padding-bottom: $spacer2;
    border-bottom: 1px solid $type-medium;
    @media screen and (max-width: $small-screen) {
      border-bottom: none;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: $spacer2;
      @media screen and (max-width: $small-screen) {
        font-size: 1.5rem;
      }
    }
  }
}

.clients {
  @include section;

  ul {
    @include grid;
    grid-row-gap: $spacer;

    li {
      grid-column: span 3;
      font-size: 1.5rem;
    }
  }
}

.contact {
  @include section;
  padding-bottom: $spacer5;

  p {
    font-size: 1.5rem;

    a, a:hover {
      color: $type-medium;
    }
  }
}

.index-layout {
  h2 {
    font-size: 3rem;
    margin-bottom: $spacer2;
    @media screen and (max-width: $small-screen) {
      font-size: 2rem;
    }
  }
}
