@mixin grid {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  @media screen and (max-width: $small-screen) {
    display: flex;
    flex-direction: column nowrap;
  }
}

.masthead {
  @include grid;
  padding: 0 $site-gutters $spacer6;
  @media screen and (max-width: $small-screen) {
    padding: 0 $small-site-gutters $spacer6;
  }
  background: $masthead-background;

  .intro {
    grid-column: 2 / span 5;

    .rich-text {
      margin-right: 25%;
      @media screen and (max-width: $small-screen) {
        margin: 0;
      }
    }
  }

  h1 {
    font-family: $font-family-serif;
    font-size: 6rem;
    color: $type-medium;
    margin: 3rem 0;
    @media screen and (max-width: $small-screen) {
      font-size: 3rem;
    }
  }
}

.projects {
  padding: 0 $site-gutters $spacer4;
  @media screen and (max-width: $small-screen) {
    padding: 0 $small-site-gutters $spacer4;
  }

  .project {
    @include grid;
    padding: $spacer6 0;
  }

  .client-details {
    grid-column: 3 / span 3;
    display: flex;
    flex-flow: column-reverse nowrap;

    h3 {
      font-size: 2rem;
      @media screen and (max-width: $small-screen) {
        font-size: 1.5rem;
      }
    }

    .project-url {
      a, a:hover {
        color: $type-medium;
      }
    }
  }

  .product-description {
    grid-column: 3 / span 3;
  }

  .product-technology {
    grid-column: 1 / span 1;
    grid-row: 2;

    h4 {
      font-size: $base-font-size;
      margin: 0;
    }
  }

  .project-image--m {
    grid-column: 1 / span 1;
    grid-row: 3;
    display: flex;
    align-items: flex-end;
    margin-left: 50%;
    margin-right: -50%;
  }

  .project-image--d {
    padding-top: $spacer4;
    grid-column: 3 / span 4;
  }

  img {
    @include image;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }


}

.clients {
  padding: 0 $site-gutters $spacer10;
  @media screen and (max-width: $small-screen) {
    padding: 0 $small-site-gutters $spacer10;
  }

  ul {
    @include grid;
    grid-gap: 0;

    li {
      grid-column: span 2;
      font-size: 1.5rem;
    }
  }
}

.contact {
  padding: 0 $site-gutters $spacer10;
  @media screen and (max-width: $small-screen) {
    padding: 0 $small-site-gutters $spacer10;
  }

  p {
    font-size: 1.5rem;

    a, a:hover {
      color: $type-medium;
    }
  }
}

.index-layout {
  h2 {
    font-size: 3rem;
    margin-bottom: $spacer2;
    @media screen and (max-width: $small-screen) {
      font-size: 2rem;
    }
  }
}
